body {
    background-color: #3bbed5;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Bitter', sans-serif;
}

.container {
    text-align: center;
}

h1 {
    color: white;
    font-size: 60px;
    font-weight: bold;
    margin: 0; 
}

img {
    max-width: 900px;
    margin: 20px 0; 
}

p {
   color: white; /* Match background color */
}
